{% extends 'base.html' %}

{% block meta %}
<title>Create New Todo List</title>
{% endblock meta %}

{% block content %}

<div class = "create">

    <h1>Create Todo List</h1>

    <form method="POST" action="">
        {% csrf_token %}
        <table>
            <tr>
                <td>Todo:</td>
                <td><input type="text" name="todo" placeholder="What's New?" class="form-control"></td>
            </tr>
                    
            <tr>
                <td>Description: </td>
                <td><input type="text" name="description" placeholder="Description" class="form-control"></td>
            </tr>
        </table>

        <input type="submit" name="submit" value="Create!"/>
    </form>


</div>

{% endblock content %}