{% extends 'base.html' %}
{% block meta %}
<title>Register</title>
{% endblock meta %}

{% block content %}  
{% load static tailwind_tags %}
{% tailwind_css %}
<div class = "login bg-zinc-50 h-screen">
    <div class="flex justify-center p-8 m-8 rounded-2xl bg-zinc-700">
        <p class="text-white font-bold text-2xl">Registration Form</p>  
    </div>

    <div class="flex justify-center items-center">
        <div class=" h-fit bg-slate-700 bg-opacity-10 p-5 rounded-2xl">
            <form method="POST" >  
                {% csrf_token %}  
                <table>  
                    {{ form.as_table }}  
                    <tr>  
                        <td></td>
                        <td>
                            <div class="flex gap-5 mt-4">
                                <div class=" bg-green-500 p-3 rounded-2xl w-fit cursor-pointer flex items-center">
                                    <input class="text-white font-bold text-lg cursor-pointer" type="submit" name="submit" value="Daftar"/>
                                </div>
                                <div class="p-3 rounded-2xl w-fit cursor-pointer bg-gray-900">
                                    <button class="p-1 text-white font-bold text-lg"><a href="{% url 'todolist:logout' %}">Back to Login</a></button>
                                </div>
                            </div>
                        </td>  
                    </tr>  
                </table>  
            </form>
        </div>
    </div>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}