{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 3 PBP</h1>

  <h5>Name: </h5>
  <p>{{nama}}</p>

  <h5>Student ID: </h5>
  <p>{{npm}}</p>

  <table border="1">
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for movie in list_movie %}
        <tr>
            <th>{{movie.watched_movie}}</th>
            <th>{{movie.movie_name}}</th>
            <th>{{movie.movie_rating}}</th>
            <th>{{movie.movie_date}}</th>
            <th>{{movie.movie_review}}</th>
        </tr>
    {% endfor %}
  </table>

 {% endblock content %}